<ion-content>
  <ion-grid style="background-color: wheat ;height: 100%; display: flex; flex-flow: column;">
    <ion-row style="flex-grow: 1;">
      <ion-col >

        <button  class="cosasLindas" style="width: 100%; height: 100%;" (click)="goToChatA()">
          <h1>PPS-4A</h1>
          <img src="../../assets/chat2.svg" width="50%">
        </button>

      </ion-col>
    </ion-row>
    
    <ion-row style="flex-grow: 1;">

      <ion-col>

        <button class="cosasFeas" style="width: 100%; height: 100%;" (click)="goToChatB()">
          <h1>PPS-4B</h1>
          <img src="../../assets/chat3.svg" width="50%">
        </button>

      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-button type="submit" color="danger" expand="block" (click)="signOut()">Cerrar Sesion</ion-button> 


  
  

  
  
  

</ion-content>
