<ion-content>

  <ion-grid class="pedro" style="height: 100%; display: flex; flex-flow: column;">

  <ion-row style="flex-grow: 1;">
      <ion-col size="12">
        <!-- <h1> <strong>PEDRO SEÑERIZ</strong> </h1> -->
      </ion-col>
    </ion-row>

    <ion-row style="flex-grow: 1;">
      <ion-col size="12">
        <h1> <strong>PEDRO SEÑERIZ</strong> </h1>
        <img src="../../assets/splash.svg" class="ld ld-vortex" width="200px" />
        <h1><strong>4º A</strong></h1>

      </ion-col>
    </ion-row>

    <ion-row style="flex-grow: 1;">
      <ion-col size="12">
        <!-- <h1><strong>4º A</strong></h1> -->
      </ion-col>
    </ion-row>

    </ion-grid>

  <!-- <div class="pedro" align="center">
    <h1> <strong>PEDRO SEÑERIZ</strong> </h1>
    <img src="../../assets/splash.svg" class="ld ld-vortex" width="200px" />
    <h1><strong>4º A</strong></h1>
  </div>
   -->
</ion-content>
